<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCY</title>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2025/01/03/00/02/ai-generated-9306969_1280.jpg">
    <link rel="stylesheet" href="./style.css">

<body>
    <header>
        <b>HI I AM BASAVA !!!!!!!!</b>
    </header>

    <input type="text" placeholder="Type your name">
    </br>
    <input type="" name="" id="" placeholder="type your E mail">
    <input type="checkbox">
    <br>
    <video src="../14519720_3840_2160_25fps.mp4" height="400px" width="400px" controls loop muteds autoplay></video>
    </br>

    <img src="https://static.vecteezy.com/system/resources/thumbnails/053/733/179/small/every-detail-of-a-sleek-modern-car-captured-in-close-up-photo.jpg"
        -- alt="Mytra" srcset="" height="150px">
    </br>
    </br>
    <h1>
        <i>HELLO GUYS IT'S MY FIRST PAGE</i>

    </h1>
    <h1>Hi how are you</h1>
    <h2>hisdjfnvdbdi</h2>
    <h3>kjdfndfuhvfjn</h3>
    <h4>dknfbdnxmzc</h4>
    <h5>nvnjcvoaifgh</h5>
    <h6>dbnodsfbndnb</h6>
    <marquee behavior="" direction="">djfnviduviufvdfv</marquee>
    <table>


</body>

</html>