* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /*  */
/* div { */
/* height: 100px; */
/* width: 100px; */
/* background-color: black; */
/* header { */
/* font-weight: ; */
/* } */

/* } */

/* input { */
/* border-radius: 50px; */
/* } */

/* img { */
/* height: 100px; */
/* border-radius: 50%; */
/* border: 2px solid aqua; */
/* } */